- form_tag url_for({:controller => "users", :action => "checkboxes"}) do
  %table
    %thead
      %tr
        %th{ :width => "140" } Login
        %th{ :width => "30" } Email
        %th{ :width => "45" } Created at
        %th{ :width => "20" } Status
        %th{ :width => "20" } Activated
        %th{ :width => "20" } Delete
    %tbody
    - for user in @users
      %tr{ :class => cycle("light", "white") }
        %td.left= link_to user.login, manage_user_path(user)
        %td= user.email
        %td= user.created_at.strftime("%c")
        %td= user_status(user)
        %td= user.active? ? _icon('tick') : _icon('cross')
        - if user.login =~ /admin/
          %td Disabled
        - else
          %td
            .buttons
              = link_btn_delete(manage_user_path(user))